[submodule "CRUD-nextjs-frontend"]
	path = CRUD-nextjs-frontend
	url = https://github.com/EbotProg/CRUD-nextjs-frontend.git
[submodule "CRUD-parse-server-backend"]
	path = CRUD-parse-server-backend
	url = https://github.com/EbotProg/CRUD-parse-server-backend.git
